nav {
    background-color: chartreuse;
    min-height: 100%;
    width: 20vw;
    padding: 2% 1%;
}

ul {
    margin: 0;
}

a {
    color: purple;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 1.5% 0;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: goldenrod
}

.active {
    border-bottom: 2px solid goldenrod;
}