/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: coral;
}

.chapter {
    background-color: purple;
    padding: 1% 2%;
    width: 70vw;
    margin-bottom: 2%;
    color: chartreuse;
}

.complet {
    color: green;
    font-weight: bold;
}

.non-complet {
  color: red;
  font-weight: bold;
}

button {
    background-color: chartreuse;
    margin: 1%;
    border: 1px solid chartreuse;
    padding: 0.5% 2%;
    color: purple;
}

button:hover {
    background-color: purple;
    color: chartreuse
}

button:disabled {
    background-color: rgb(190, 190, 190);
    color: rgb(129, 129, 129);
    border: 1px solid rgb(129, 129, 129)
}

